* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black;
}


ul {
  list-style: none;
}

h1, h2 {
  line-height: 1.2;
  font-weight: 300;
  margin: 10px 0;
}

p {
  margin: 10px 0;
  font-size: 20px;
}

.navbar {
  margin-top: 20px;
}

.navbar ul {
  display: flex;
}

.navbar h1 {
  margin: 15px;
  margin-left: 50px;
}

.navbar a {
   color: black;
   padding: 10px;
   margin: 5px;
}

.navbar small {
  font-size: 15px;
  color: blue;
}

.navbar .flex {
  justify-content: space-between;
}

.flex {
  justify-content: center ;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: row;
}


@media (max-width: 800px){
  .flex{
    flex-direction: column;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown ul {
  display: block;
}

.dropdown-content li {
  padding: 5px;
}

.dropdown-content a:hover {
  color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid blue;
  border-radius: 30px;
  min-height: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.showcase {
  margin: 20px;
  padding-top: 100px;
}

.showcase img {
  width: 250px;
  height: 250px;
}

.btn {
  margin-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background-color: rgb(84, 84, 238);
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.btn:hover {
  transform: scale(0.90);
}

.row {
  display: flex;
}

.column {
  padding: 3px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.question1 {
  border: 2px solid rgb(245, 236, 236);
  margin: 10px;
  border-radius: 20px;
  display: none;
}

.question1 img {
  text-align: center;
  width: 40%;
  margin: 10px;
}


.question1 p {
 margin: 10px;
}

.question1 input {
  margin: 10px;
}

.question1 button {
  margin: 30px;
}

.question2 {
  border: 2px solid rgb(245, 236, 236);
  margin: 10px;
  border-radius: 20px;
  display: none;
}

.question2 img {
  width: 40%;
  text-align: center;
  margin: 10px;
}


.question2 p {
 margin: 10px;
}

.question2 input {
  margin: 10px;
}

.question2 button {
  margin: 30px;
}

.question3 {
  border: 2px solid rgb(245, 236, 236);
  margin: 10px;
  border-radius: 20px;
  display: none;
}

.question3 img {
  text-align: center;
  width: 40%;
  margin: 10px;
}


.question3 p {
 margin: 10px;
}

.question3 input {
  margin: 10px;
}

.question3 button {
  margin: 30px;
}

.question4 {
  border: 2px solid rgb(245, 236, 236);
  margin: 10px;
  border-radius: 20px;
  display: none;
}

.question4 img {
  text-align: center;
  width: 40%;
  margin: 10px;
}


.question4 p {
 margin: 10px;
}

.question4 input {
  margin: 10px;
}

.question4 button {
  margin: 30px;
}

.question5 {
  border: 2px solid rgb(245, 236, 236);
  margin: 10px;
  border-radius: 20px;
  display: none;
}

.question5 img {
  text-align: center;
  margin: 10px;
}


.question5 p {
 margin: 10px;
}

.question5 input {
  margin: 10px;
}

.question5 button {
  margin: 30px;
}

.question6 {
  border: 2px solid rgb(245, 236, 236);
  margin: 10px;
  border-radius: 20px;
  display: none;
}

.question6 img {
  text-align: center;
  margin: 10px;
}


.question6 p {
 margin: 10px;
}

.question6 input {
  margin: 10px;
}

.question6 button {
  margin: 30px;
}

.question7 {
  border: 2px solid rgb(245, 236, 236);
  margin: 10px;
  border-radius: 20px;
  display: none;
}

.question7 img {
  text-align: center;
  margin: 10px;
}


.question7 p {
 margin: 10px;
}

.question7 input {
  margin: 10px;
}

.question7 button {
  margin: 30px;
}

.question8 {
  border: 2px solid rgb(245, 236, 236);
  margin: 10px;
  border-radius: 20px;
  display: none;
}

.question8 img {
  text-align: center;
  margin: 10px;
}


.question8 p {
 margin: 10px;
}

.question8 input {
  margin: 10px;
}

.question8 button {
  margin: 30px;
}

.showcase-form{
  position: relative;
  top: 60px;
  height: 300px;
  width: 300px;
  padding: 50px;
  z-index: 80;
  background-color:rgb(84, 84, 238);
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-left: 40px;
  text-align: center;
  display: none;
}

.showcase-form h1{
  text-align: center;
}

.showcase-form label {
  color: white;
  padding: 3px;
  font-size: 18px;
}


.showcase-form .form-control{
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form textarea[name='message'],
.showcase-form input[type='email'],
.showcase-form input[type='date']{
   border: 0;
   width: 100%;
   padding: 15px;
   font-size: 16px;
   border-radius: 20px;
}

.showcase-form input:focus,
.showcase-form textarea:focus{
  outline: none;
}

.sumbit{
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background-color:rgb(84, 84, 238) ;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 15px;
}

.btn-outline{
  background-color: black;
}

.btn:hover{
  transform: scale(0.90);
}

.naruto {
  display: none;
  text-align: center;
}

.naruto img {
  width: 20%;
  height: 20%;
  text-align: center;
}

.naruto p {
  font-size: 30px;
}

.madara {
  display: none;
  text-align: center;
}

.madara p{
  font-size: 30px;
}

.madara img {
  width: 30%;
  height: 30%;
}

.kirito {
  display: none;
  text-align: center;
}

.kirito p {
  font-size: 30px;
}

.saitama {
  display: none;
  text-align: center;
}

.saitama p {
  font-size: 30px;
}
.midoria {
  display: none;
  text-align: center;
}

.midoria p {
  font-size: 30px;
}